/* Página home */

body {
    
}

#banner {
    width: 100%;
}

.principal {
    background-color: #aa8b56;
    padding: 30px;
}

.principal-title {
    padding-left: 20px;
}

.central-title {
    text-align: center;
}

p {
    text-align: center;
}

#mission {
    font-size: 20px;
}

em strong {
    color: #FFFFFE;
}

.items {
    font-style: italic;
}

.advantage {
   background-color: #FFFFFF;
   padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.image-advantage {
    width: 50%;
}