body {
    font-family: 'Slabo 27px', serif;
}

header {
    background-color: #242629;
    padding: 20px 0;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logo {
    width: 30%;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    color: #aa8b56;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}