body {
    font-family: 'Slabo 27px', serif;
}

header {
    background-color: #242629;
    padding: 20px 0;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logo {
    width: 30%;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    color: #aa8b56;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

nav a:hover {
    color: #c7a365;
}

main {
    background-color: antiquewhite;
    padding: 40px 0;
}

.products {
    width: 940px;
    margin: 0 auto;
}

.products li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 50px 0;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 10px outset #aa8b56;
    border-top-left-radius: 15px;
}

.products li:hover {
    border-color: #c7a365;
}

.products li:hover h2 {
    font-size: 32px;
}

.products li:active {
    border-color: #7a510a;
}

.products h2 {
    font-size: 30px;
    font-weight: bold;
}

.product-description {
    font-size: 18px;
}

.product-price {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    background-image: url('bg-yellow.png');
    
}

footer .logo-black {
    width: 15%;
}

.copyright {
    color: #FFFF;
    font-size: 13px;
    margin-top: 20px;
}

